<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%let i=1%>

    <%nums.forEach(function(num,err){%>
      <p><%=i%>  | <%=num.mobile%>  |  <%=num.name%></p>
      <%i++%>
    <%});%>

  </body>
</html>
