<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/generate" method="post">
      <input type="number" name="num" value="" placeholder="Enter number">
      <button type="submit" name="button">Generate</button>
    </form>
  </body>
</html>
